@charset 'utf-8';
.w {
  width: 10rem;
}
body {
  margin: 0;
  padding: 0;
}
ul,
li {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
}
.clearfix:after {
  clear: both;
}
.nav {
  width: 10rem;
  height: 1.125rem;
  font-family: '微软雅黑';
}
.nav li {
  display: block;
  margin-left: 0.65625rem;
  width: 1.09375rem;
  height: 1.125rem;
  float: left;
  text-align: center;
  line-height: 1.125rem;
  font-size: 32px;
}
.nav li .redt {
  position: relative;
  margin-top: -0.0625rem;
  width: 1.09375rem;
  height: 0.09375rem;
  background-color: #be0201;
}
.daohang {
  width: 10rem;
  height: 1.125rem;
  background-color: #e6e6e6;
}
.shouye {
  width: 10rem;
  height: 5.8125rem;
}
.word {
  position: absolute;
  top: 6.125rem;
  height: 0.8125rem;
  width: 10rem;
  background-color: rgba(230, 230, 230, 0.9);
}
.word .tuji {
  margin: 0.1875rem 0 0.1875rem 0.375rem;
  height: 0.4375rem;
  width: 0.875rem;
  background-color: #4c86c6;
  color: #fff;
  text-align: center;
  line-height: 0.4375rem;
}
.content {
  position: relative;
  margin: 0.296875rem 0.375rem 0.296875rem 0.375rem;
  width: 9.25rem;
  height: 1.625rem;
}
.content .box {
  width: 2.1875rem;
  height: 1.625rem;
}
.content .title {
  position: relative;
  top: -1.625rem;
  left: 2.5625rem;
  width: 6.046875rem;
  height: 0.65625rem;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  line-height: 0.65625rem;
  font-family: '微软雅黑';
  font-size: 24px;
}
.content .description {
  position: relative;
  left: 2.5625rem;
  top: -1.625rem;
  margin-top: 0.078125rem;
  width: 6.046875rem;
  height: 0.890625rem;
  word-wrap: normal;
  overflow: hidden;
  color: #808080;
}
.content .description .gentie {
  height: 0.859375rem;
}
.content .blank {
  position: absolute;
  top: 1.171875rem;
  left: 3.84375rem;
  width: 4.6875rem;
  height: 0.390625rem;
  background-color: #fff;
  z-index: 7;
}
.content .gentie {
  position: relative;
  top: -2.03125rem;
  right: 1.5625rem;
  height: 0.390625rem;
  width: 1.875rem;
  color: #808080;
  float: right;
  z-index: 20;
  text-align: right;
  line-height: 0.390625rem;
}
.special {
  position: relative;
  margin-right: 0.625rem;
  margin-top: -2.0625rem;
  float: right;
  height: 0.4375rem;
  width: 0.859375rem;
  text-align: center;
  line-height: 0.375rem;
  z-index: 17;
  color: #fff;
}
.border {
  margin: 0 0.375rem 0 0.375rem;
  width: 9.25rem;
  height: 0.03125rem;
  background-color: #e6e6e6;
  border-radius: 0.03125rem;
}
