@charset 'utf-8';
@c:64rem;
.w {
	width: 640/@c;
}
body {
	margin: 0;
	padding: 0;
	
}
ul, li {
	text-decoration: none;
}
img {
	width: 100%;
	height: 100%;
}
.clearfix:after {
	clear: both;
}
.nav {
	.w;
	height: 72/@c;
	font-family: '微软雅黑';
	
	li {
		display: block;
		margin-left: 42/@c;
		// width: 70/@c;
		height: 72/@c;
		float: left;
		text-align: center;
		line-height: 72/@c;
		font-size: 32px;
		.redt {
			position: relative;
			margin-top: -4/@c;
			width: 70/@c;
			height: 6/@c;
			background-color: rgb(190, 2, 1);
		}
	}

}
.daohang {
	.w;
	height: 72/@c;
	background-color: rgb(230, 230, 230);
}
.shouye {
	.w;
	height: (320+52)/@c; 
}
.word {
	position: absolute;
	top: 392/@c;
	height: 52/@c;
	.w;
	background-color: rgba(230, 230, 230, .9);
	.tuji {
		position: relative;
		float: left;
		margin: 12/@c 0 12/@c 24/@c;
		height: 28/@c;
		width: 56/@c;
		background-color: rgb(76, 134, 198);
		color: #fff;
		text-align: center;
		line-height: 28/@c;
	}
	.word-com {
		position: relative;
		float: left;
		margin: 12/@c 0 12/@c 24/@c;
		height: 28/@c;
		width: 300/@c;
		// background-color: red;
		color: rgb(90, 90, 90);
		white-space: nowrap;
		word-wrap: normal;
		overflow: hidden; 
	}
}
.content {
	position: relative;
	margin: 19/@c 24/@c 19/@c 24/@c;
	width: (640-24*2)/@c;
	height: (142-19*2)/@c;
	// background-color: red;
	.box {
		width: 140/@c;
		height: 104/@c;
		
	}
	.title {
		position: relative;
		top: -104/@c;
		left: (140+24)/@c;
		// float: left;
		width: (435-24*2)/@c;
		height: 42/@c;
		// background-color: rgba(150, 150, 150, 0.5);
		white-space: nowrap;
		word-wrap: normal;
		overflow: hidden; 
		line-height: 42/@c;
		font-family: '微软雅黑';
		font-size: 24px;
	}
	.description {
		position: relative;
		left: (140+24)/@c;
		top: -104/@c;
		margin-top: 5/@c;
		width: (435-24*2)/@c;
		height: 57/@c;
		// background-color: red;
		// white-space: nowrap;
		word-wrap: normal;
		overflow: hidden;
		color: rgb(128, 128, 128);

		.gentie {
			height: 55/@c;
			// width: 28/@c;
			}
		
		}
	.blank {
		position: absolute;
		top: 75/@c;
		left: 246/@c;
		width: 300/@c;
		height: 25/@c;
		background-color: #fff;
		z-index: 7;

		}
	.gentie {
		position: relative;
		top: -130/@c;
		right: 100/@c;
		height: 25/@c;
		width: 120/@c;
		color: rgb(128, 128, 128);
		float: right;
		z-index: 20;
		text-align: right;
		line-height: 25/@c;
	}		
	}
	.special {
			position: relative;
			margin-right: 40/@c;
			
			margin-top: (-104-28)/@c;
			float: right;
			height: 28/@c;
			width: 55/@c;
			
			text-align: center;
			line-height: 24/@c;
			z-index: 17;
			color: #fff;
}
.border {
	margin: 0 24/@c 0 24/@c;
	width: (640-24*2)/@c;
	height: 2/@c;
	background-color: rgb(230, 230, 230);
	border-radius: 2/@c;

}
.af2 {
	display: block;
	position: absolute;
	top: 0;
	.w;
	height: 700/@c;//auto
	background-color: #fff;
	z-index: 500;
	.column {
		height: 72/@c;
		background-color: #e6e6e6;
	}
	.added {
	height: 200/@c;//auto
	background-color: #fff;
	
	}
	ul {
		margin: 53/@c 38/@c 53/@c 38/@c;
		height: 150/@c;//auto
		background-color: rgba(111, 111, 111, 0.5);
	}
}
